.correct {
  color: green
}

.notExist {
  color: black
}

.incorrect {
  color: red
}

.next {
  color: blue;
}

.ui.button {
  border-radius: 0px;
  border: 1px #e0e1e2 solid;
}

.ui.input>input {
  border-radius: 0px;
}

.wrapper {
  padding-left: 5%;
  padding-right: 5%;
}

.ui.menu {
  border-radius: 0px;
  box-shadow: none;
}

.buttonNext {
  background-color: blue!important;
  color: white!important;
}
